{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'fetcher/css/login.css' %}"/>
    <title>Login</title>
</head>
<body>
<div class="outer-div">
    <form action="{% url 'login' %}" role="form" class="form inner-div" method="post" id="loginForm">
        {% csrf_token %}
        <div id="title">Fetcher App</div>
        {% if form.non_field_errors %}
            <div class="errorsContainer">
                {% for error in form.non_field_errors %}
                    <div><strong>{{ error|escape }}</strong></div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="input-group">
            {{ form.username.label }}
            {{ form.username.errors }}
            {{ form.username }}
        </div>
        <div class="input-group">
            {{ form.username.label }}
            {{ form.password.errors }}
            {{ form.password }}
        </div>
        <button id='submit' type="submit">
            Login
        </button>
    </form>
</div>
</body>
</html>